.book-listing {
    background-color: #00243e;
    color: #d0d0d0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.book-listing__container {
    max-width: 786px;
    margin-left: auto;
    margin-right: auto;
}

.book-listing__view-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.book__footer button {
    min-width: 320px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.book__footer p {}